* {margin:0;padding:0;box-sizing: border-box;}
 body {
  font: 16px/1.5em "Segoe UI", Arial, sans-serif;
  background: #bfb6a0;
  padding: 15px ;
}
body>*{ 
max-width: 1035px;
 margin: 20px auto;
 }
.spoilers-menu>* {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #b63333;
  margin-left: 5px;
  padding: 10px 10px;
  border-radius: 3px;
  text-shadow: 0 1px 0 #8c1111;
  border-bottom: 1px solid #8c1111;
  transition: all 0.6s ease;
  animation: fadeIn 1.2s;
}
.spoilers-menu>*:hover {
  background: #8c1111;
}

.spoiler-link--active {
  background: #4f9c3d;
  border-color: #2d751c;
  text-shadow: 0 1px 0 #2d751c;
}
.spoiler-link--active:hover {
  background: #2d751c;
}

.spoilers-menu a:nth-child(5),.spoilers-menu a:nth-child(7),.spoilers-menu a:nth-child(9){
    margin-left: 10px;
}
ul {display: none;}
.on,.calc{display: block; animation: fadeIn 1.2s;}
li{background-repeat: no-repeat ;      color: #b63333;  }
.loc1 i{background-image: url(../img/loc1.png)}
.loc2 i{background-image: url(../img/loc2.png)}
.loc3 i{background-image: url(../img/loc3.png)}
.loc4 i{background-image: url(../img/loc4.png)}
.ism3 i{background-image: url(../img/ism3.png)}
.ism4 i{background-image: url(../img/ism4.png)}
.boss i{background-image: url(../img/boss.png)}
.hard i{background-image: url(../img/hard.png)}
.ismx i{background-image: url(../img/ismx.png)}
.l i{background-position:0 0}
.ll i{background-position:0 -50px}
.lll i{background-position:0 -100px}
.lv i{background-position:0 -150px}
.v i{background-position:0 -200px}
.vl i{background-position:0 -250px}
.vll i{background-position:0 -300px}
.vlll i{background-position:0 -350px}
.lx i{background-position:0 -400px}
.x i{background-position:0 -450px}
.flex{
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.on > * {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
}
.on >*:nth-child(6) {transform: rotate(0deg) translate(140.5px) rotate(-0deg);}
.on >*:nth-child(7) {transform: rotate(36deg) translate(140.5px) rotate(-36deg);}
.on>*:nth-child(8) {transform: rotate(72deg) translate(140.5px) rotate(-72deg);}
.on >*:nth-child(9) {transform: rotate(108deg) translate(140.5px) rotate(-108deg);}
.on>*:nth-child(10) {transform: rotate(144deg) translate(140.5px) rotate(-144deg);}
.on >*:nth-child(1) {transform: rotate(180deg) translate(140.5px) rotate(-180deg);}
.on >*:nth-child(2) {transform: rotate(216deg) translate(140.5px) rotate(-216deg);}
.on>*:nth-child(3) {transform: rotate(252deg) translate(140.5px) rotate(-252deg);}
.on >*:nth-child(4) {transform: rotate(288deg) translate(140.5px) rotate(-288deg);}
.on >*:nth-child(5) {transform: rotate(324deg) translate(140.5px) rotate(-324deg);}
.calc{
  overflow: auto;
  padding: 16px ;
  margin-top: 25px; 
}


.spoilers,.calc{ background: #fafafa;  border-radius: 3px;}
ul{list-style: none}
.spoilers ul{
  overflow: auto;
	height: 365px;
	position: relative;
	width: 345px;
  margin-top: 25px;
}
 li i{
  width: 50px;
  height: 50px;
  background-color: 	rgba(241,241,241, .2);
  display: block;
  font-size: 0;
  box-shadow: 1px 1px 5px #000000;
}
li{
 text-align: center;
 font-weight:bold;
 line-height:22px;
 border-radius: 3px;
}
h2{
line-height: 50px;
margin-top: 1px;
}

.calc{text-align: center;}
.calc li{display: inline-block;margin-right: 5px;animation: fadeIn .25s;}
a { color: #333;text-decoration:none}
nav:not(.spoilers-menu) a {    
display: inline-block;
padding: 5px ;
color: #4a0a33;
font-weight:bold;
margin: 8px;
transition: transform 400ms ease-out;
}
.active, nav a:hover { background:rgba(255,255,255,.1);opacity: .97;transform: scale(1.05); color:#d00089 !important;}


.tooltip {
      position: fixed;
      padding: 5px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #4a0a33;
      
     font-weight:bold;
     background:rgba(255,255,255,.8);
   animation: fadeIn 1.2s;
    }
    
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    
