:root {
    --color: #2d3436;
    --font: #aa2c2c;
    --ghost-body: #ffffff;
    --ghost-body-dark: #f1f2f6;
    --ghost-body-darker: #d1d8e0;
    --ghost-shadow: #d1d8e014;
    --ghost-parts: #1e272e;
    --ghost-blush: #fd79a8;
    --ghost-blush-dark: #e84393;
}

.ghost {
    position: absolute;
    width: 150px;
    height: 250px;
    z-index: 3;
    opacity: .8;
    transform: scale(.8);
}

.ghost * {
    position: absolute;
}

.ghost__border {
    width: 100%;
    height: 100%;
}

.ghost__border .ghost__top {
    width: 100%;
    height: 50%;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    box-shadow: inset -15px 0 0 var(--ghost-body-dark);
    background: var(--ghost-body);
}

.ghost__border .ghost__top__face {
    top: 30%;
    left: 5%;
    width: 80%;
    height: 100%;
}

.ghost__border .ghost__top__face .ghost__eyes {
    top: 20%;
    left: 10%;
    width: 15px;
    height: 15px;
}

.ghost__border .ghost__top__face .ghost__eyes:after,
.ghost__border .ghost__top__face .ghost__eyes:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: var(--ghost-parts);
}

.ghost__border .ghost__top__face .ghost__eyes:after {
    left: 50%;
}

.ghost__border .ghost__top__face .ghost__eyes:before {
    left: 300%;
}

.ghost__border .ghost__top__face .ghost__blush {
    top: 32%;
    left: -5%;
    width: 20px;
    height: 10px;
}

.ghost__border .ghost__top__face .ghost__blush:after,
.ghost__border .ghost__top__face .ghost__blush:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: var(--ghost-blush);
    box-shadow: 2px 2px 0px var(--ghost-body-dark);
}

.ghost__border .ghost__top__face .ghost__blush:after {
    left: 50%;
}

.ghost__border .ghost__top__face .ghost__blush:before {
    left: 375%;
}

.ghost__border .ghost__top__face .ghost__mouth {
    top: 38%;
    left: 32%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: var(--ghost-parts);
}

.ghost__border .ghost__top__boo {
    width: 100%;
    height: 100%;
    top: 32%;
    left: -20%;
    text-shadow: 1px 1px 2px pink;
    transform: rotate(-45deg);
}

.ghost__border .ghost__top__boo .ghost__boo {
    font-family: Creepy, serif;
    color: var(--font);
}

.ghost__border .ghost__top__boo .ghost__boo-1 {
    font-size: 60px;
    left: 38%;
}

.ghost__border .ghost__top__boo .ghost__boo-2 {
    font-size: 50px;
    left: 62%;
}

.ghost__border .ghost__top__boo .ghost__boo-3 {
    font-size: 40px;
    left: 82%;
}

.ghost__border .ghost__top__boo .ghost__boo-4 {
    font-size: 40px;
    left: 100%;
}

.ghost__border .ghost__top__body {
    top: 60%;
    width: 100%;
    height: 100%;
}

.ghost__border .ghost__top__body .ghost__hand {
    width: 25px;
    height: 35px;
    border-style: solid;
    border-color: var(--ghost-parts);
    border-width: 0 5px 5px 4px;
    border-radius: 10px 10px 30px 30px/10px 10px 70px 60px;
    background: var(--ghost-body);
}

.ghost__border .ghost__top__body .ghost__hand--left {
    left: 16%;
    top: 6%;
    transform: rotate(-140deg);
    box-shadow: -5px 0 0 var(--ghost-body-dark);
}

.ghost__border .ghost__top__body .ghost__hand--right {
    top: 5%;
    left: 33%;
    height: 40px;
    transform: rotateX(-180deg) rotate(40deg);
}

.ghost__border .ghost__bottom {
    width: 100%;
    height: 40%;
    top: 49%;
    box-shadow: inset -15px 0 0 var(--ghost-body-dark);
    background: var(--ghost-body);
    z-index: -1;
}

.ghost__border .ghost__bottom__rip {
    width: 20%;
    height: 40%;
    bottom: -20%;
    border-radius: 30px;
    background: var(--ghost-body);
    overflow: hidden;
}

.ghost__border .ghost__bottom__rip--1 {
    left: 0%;
}

.ghost__border .ghost__bottom__rip--2 {
    left: 20%;
    height: 35%;
    bottom: -17.5%;
    background: var(--ghost-body-darker);
    z-index: 5;
}

.ghost__border .ghost__bottom__rip--3 {
    left: 40%;
}

.ghost__border .ghost__bottom__rip--4 {
    left: 60%;
    height: 35%;
    bottom: -17.5%;
    background: var(--ghost-body-darker);
    z-index: 5;
}

.ghost__border .ghost__bottom__rip--5 {
    left: 80%;
}

.ghost__border .ghost__bottom__rip--1 {
    animation-delay: 0s;
}

.ghost__border .ghost__bottom__rip--2 {
    animation-delay: 0.45s;
}

.ghost__border .ghost__bottom__rip--3 {
    animation-delay: 0.15s;
}

.ghost__border .ghost__bottom__rip--4 {
    animation-delay: 0.6s;
}

.ghost__border .ghost__bottom__rip--5 {
    animation-delay: 0.3s;
}

.ghost__border .ghost__bottom__rip--5:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset -15px 0 0 var(--ghost-body-dark);
}

.active .ghost__border .ghost__bottom__rip--1,
.active .ghost__border .ghost__bottom__rip--3,
.active .ghost__border .ghost__bottom__rip--5 {
    animation: rip 1.1s ease-in infinite;
}

.active .ghost__border .ghost__bottom__rip--2,
.active .ghost__border .ghost__bottom__rip--4 {
    animation: rip-b 1.1s ease-in infinite;
}

.active .ghost__border .ghost__top__body .ghost__hand--left {
    animation: hand-left 5s ease-in infinite;
}

.active .ghost__border .ghost__top__body .ghost__hand--right {
    animation: hand-right 5s ease-in infinite;
}

.active .ghost__border .ghost__top__boo {
    animation: words 5s ease-in infinite;
}

.active .ghost__border .ghost__top__face .ghost__mouth {
    animation: mouth 5s linear infinite;
}

.active .ghost__border .ghost__top__face .ghost__eyes:after,
.active .ghost__border .ghost__top__face .ghost__eyes:before {
    animation: blink 2s linear infinite;
}

.active .ghost__border {
    animation: float 2s linear infinite;
}

.active {
    animation: on 8s ease infinite;
}

.active .ghost__border {
    display: block;
}

.ghost__border {
    display: none;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }
}

@keyframes rip {

    0%,
    100% {
        bottom: -15%;
    }

    50% {
        bottom: -22.5%;
    }
}

@keyframes rip-b {

    0%,
    100% {
        height: 35%;
        bottom: -15%;
    }

    50% {
        height: 40%;
        bottom: -20%;
    }
}

@keyframes blink {

    0%,
    10%,
    100% {
        transform: scaleY(1);
    }

    5% {
        transform: scaleY(0.3);
    }
}

@keyframes mouth {

    0%,
    45%,
    75% {
        transform: translateX(0) translateY(0) scaleX(1) scaleY(0.3);
    }

    50%,
    65% {
        transform: translateX(-3px) translateY(-2px) scaleX(0.6) scaleY(0.7);
    }

    100% {
        transform: translateX(0) translateY(0) scaleX(1) scaleY(0.5);
    }
}

@keyframes words {

    0%,
    45% {
        transform: translateX(0) translateY(0) scale(0) rotate(-45deg);
        opacity: 0;
    }

    55% {
        transform: translateX(-70px) translateY(-55px) scale(1) rotate(-45deg);
        opacity: 1;
    }

    90% {
        transform: translateX(-70px) translateY(-55px) scale(1) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0) translateY(0) scale(0) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes hand-left {

    0%,
    100% {
        transform: translateX(0px) translateY(0px) rotate(-140deg);
    }

    40%,
    90% {
        transform: translateX(-5px) translateY(10px) rotate(-120deg);
    }
}

@keyframes hand-right {

    0%,
    100% {
        transform: translateX(0px) translateY(0px) rotateX(-180deg) rotate(40deg);
    }

    40%,
    90% {
        transform: translateX(5px) translateY(10px) rotateX(-180deg) rotate(60deg);
    }
}

@keyframes hoverGhost {

    0%,
    100% {
        transform: translateY(5px) rotate(1deg);
    }

    50% {
        transform: translateY(0px) rotate(-1deg);
    }
}


@keyframes on {

    0%,
    100% {
        transform: translateX(200px) translateY(30px) rotate(-10deg);
        opacity: 0;
    }

    20% {
        transform: translateX(0px) translateY(0px)rotate(-1deg);
        opacity: .9;
    }

    30% {
        transform: translateY(5px) rotate(1deg);
    }

    60% {
        transform: translateY(0px) rotate(-1deg);
        opacity: .9;
    }

    80% {
        transform: translateX(0px) translateY(-30px)rotate(-1deg);
    }

    81% {
        opacity: 0;
    }
}