:root {
    --bgTomb: #e5e5e5;
    --colorTomb: #7e7e7e;
}

#tomb {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 120px;
    height: 150px;
    background: var(--bgTomb);
    top: 150px;
    border-radius: 80px 75px 0 0;
    box-shadow: 15px 0 0 0 var(--colorTomb);
    opacity: .9;
    transform: rotate(3deg);
    overflow: hidden;
}

#tomb h1 {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-weight: 800;
    color: var(--colorTomb);
    text-shadow: 0px 1px 0px pink;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}

#tomb h2 {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-weight: 800;
    color: var(--colorTomb);
    text-shadow: 0px 1px 0px pink;
    text-align: center;
    padding-top: 5px;
    margin: 0;
}

#tomb h2 samp {
    font-size: 25px;
    font-weight: bold;
    font-weight: 800;
    color: var(--colorTomb);
    text-shadow: 0px 1px 0px pink;
    padding-right: 2px;
}

#tomb svg {
    position: relative;
    top: -140px;
    left: 35px;
    opacity: .4;
    transform: rotate(-50deg);
}

.donat {
    animation: donat 1s ease;
}

@keyframes donat {

    0%,
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotate(3deg);
    }

    50% {
        transform: rotateX(-5deg) rotateY(-5deg) rotate(0deg);
    }

}